html, body {
    background: red url('../img/logo.png');
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
}

.scroll-parent {
    background: blue;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 100px);
}

.scroll-content {
    background: green;
    height: 2000px;
}